name: Manual Build EXE
on: workflow_dispatch  # 允许你手动点击运行

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install pyinstaller matplotlib pytesseract pillow opencv-python numpy paddleocr paddlepaddle
      - name: Build EXE
        run: pyinstaller --onefile --name "Aion2_DPS_Meter" main.py
      - name: Upload result
        uses: actions/upload-artifact@v3
        with:
          name: Aion2_Windows_Tool
          path: dist/Aion2_DPS_Meter.exe
